{% extends '::base.html.twig' %}
{% block title %}Access Error 2sn{% endblock %}

{% block body %}
<!-- CONTENT BOX WITH SIDEBAR -->
<div class="content-box">
  <div class="box-body">
    <div class="box-header clear">
      <h2>Error</h2>
    </div>
    <div class="login-inside-register">
      <div class="album-data">
        <fieldset>
          <center>You cannot access to this data ! </center>
        </fieldset>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
