{% extends '::admin.html.twig' %}
{% block title %}Administration Publication{% endblock %}

{% block body %}
<!-- CONTENT BOX - DATATABLE -->
<div class="content-box">
  <div class="box-body">
    <div class="box-header clear">
      <h2>Achievement's Administration</h2>
    </div>
    <div class="box-wrap clear">
      <!-- DATA-TABLE JS PLUGIN -->
      <div id="data-table">
	<p>In this place you can edit information about 2sn's publication</p>
	<form method="post" action="">
	  <table class="style1 datatable">
	    <thead>
	      <tr>
		<th>Logo</th>
		<th>Name</th>
		<th>Description</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for achievement in achievements %}
   	      <tr>
		<td><img src="{{achievement.logo}}" width="64"></td>
		<td>{{achievement.name}}</td>
		<td>{{achievement.description}}</td>
	      </tr>
	      {% endfor %}
	  </table>
	</form>
      </div><!-- /#table -->
    </div><!-- end of box-wrap -->
  </div> <!-- end of box-body -->
</div> <!-- end of content-box -->
{% endblock %}
